<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chargemap">

    <!-- Permissões para acesso à internet e localização -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Caso use o Google Maps, adicione a permissão de acesso à rede -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Chave de API do Google Maps -->
    <meta-data
        android:name="com.google.android.geo.AIzaSyB9pkVl5iOIgKm8OSZ3u_wjM1i1h5M53N4"
        android:value="AIzaSyB9pkVl5iOIgKm8OSZ3u_wjM1i1h5M53N4" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChargeMap"
        tools:targetApi="31">

        <!-- Atividades do seu aplicativo -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="true"/>
        <activity android:name=".CadastroActivity" android:exported="true"/>
        <activity android:name=".MapaActivity" android:exported="true"/>

    </application>

</manifest>
